<div class="user-card-container">
  <div class="user-card">
    <div class="user-card-header">
      <div *ngIf="user.img" class="img-container">
        <app-img-base64 [src]="user.img!" />
      </div>
      <h3 class="user-name">{{ user.u_name }}</h3>
    </div>
    <div class="same-line">
      <p>{{ user.name.first }} {{ user.name.last }}</p>
      <p>{{ user.email }}</p>
    </div>
    <div *ngIf="this.clients" class="clients">
      <h5>Clienti:</h5>
      <ul>
        <li *ngFor="let client of this.clients">
          <a [routerLink]="['/smm/clients', client.id]">{{ client.username }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
