div.user-card div.clients {
  font-size: 0.8em;
  color: #666;
}

div.user-card div.clients ul {
  list-style: circle;
}

div.user-card div.clients ul li a {
  color: #666;
  text-decoration: none;
}
