div.user-card-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 20%;
}

div.user-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  overflow: hidden;
}

div.same-line {
  white-space: unset;
}

@media (max-width: 768px) {
  div.user-card-container {
    margin: 0 5%;
  }
  div.user-card {
    width: 40%;
  }
}

div.user-card h3 {
  margin-top: 0;
}

div.user-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

div.user-card div.clients {
  font-size: 0.8em;
  color: #666;
}

div.user-card div.clients ul {
  list-style: circle;
}

div.user-card div.clients ul li a {
  color: #666;
  text-decoration: none;
}
