<nav class="navbar">
  <ul>
    <!-- TODO: add routerLinkActive to the links -->
    <li>
      <a routerLink="/home" routerLinkActive="actual">Home</a>
    </li>
    <li *ngIf="!this.auth.isLoggedIn()">
      <a routerLink="/register" routerLinkActive="actual">Register</a>
    </li>
    <li *ngIf="this.auth.isLoggedIn()">
      <a routerLink="/smm" routerLinkActive="actual">Dashboard</a>
    </li>
    <li>
      <a routerLink="/login" routerLinkActive="actual">
        <ng-template *ngIf="this.auth.isLoggedIn(); then logOutBlock else logInBlock" />
      </a>
    </li>
    <li>
      <!-- TODO: insert a link to the Squealer page -->
      <a href="" routerLinkActive="actual">Squealer</a>
    </li>
  </ul>
</nav>

<ng-template #logInBlock>
  Log In
</ng-template>

<ng-template #logOutBlock>
  Log Out
</ng-template>
