<div class="user-card-container">
  <nz-card
    class="user-card"
    style="width: 60%;"
    [nzActions]="[friends, characters, quote]"
  >
    <nz-card-meta
      [nzAvatar]="avatarTemplate"
      nzTitle="{{ client.username! }}"
      nzDescription="{{ client.email! }} - {{ client.completeName! }}"
    />
  </nz-card>
</div>

<ng-template #avatarTemplate>
  <nz-avatar nzSrc="{{ client.image }}" [nzSize]="'large'"></nz-avatar>
</ng-template>

<ng-template #friends>
  <span>Amici: {{ client.friendsNumber }}</span>
</ng-template>

<ng-template #characters>
  <span
    nz-button
    (click)="buyCharModal()"
    nz-tooltip
    nzTooltipPlacement="bottom"
    [nzTooltipTitle]="charTooltip"
    [nzTooltipMouseLeaveDelay]="0.3"
  >
    Caratteri rimanenti: {{ client.charNumber?.dayly }}
  </span>
</ng-template>

<ng-template #quote>
  <span
    nz-tooltip
    nzTooltipPlacement="bottomRight"
    [nzTooltipTitle]="quoteTooltip"
    [nzTooltipMouseLeaveDelay]="0.3"
  >
    Quota giornaliera: {{ client.quoteNumber?.dayly }}
  </span>
