# editor
.vscode

# server
server/node_modules
server/dist
server/rsa-keys
server/config.env

# SMM
SMM/node_modules
SMM/dist
SMM/.angular

# social
social/node_modules
social/dist
social/.env

node_modules
dist