div.split {
  display: flex;
  flex-direction: row;
  /* space in the middle */
  justify-content: space-around;
  width: 100%;
}

div.split > input {
  width: 43.5%;
  margin-right: -1px;
  margin-left: -1px;
}

@media screen and (max-width: 600px) {
  div.split {
    flex-direction: column;
  }

  div.split > input {
    width: 94%;
  }
}

/* explaining the attributes with a paragraph and an ul */
div.explanation {
  color: #666;
}

div.explanation > p {
  margin-bottom: 0.3rem;
}

div.explanation > ul {
  margin-top: 0;
  margin-bottom: 0;
}
