<div class="user-card-container">
  <nz-card
    class="user-card"
    style="width: 100%;"
    [nzLoading]="!!!this.user"
    [nzActions]="[settings, edit, delete]"
  >
    <nz-skeleton
      [nzLoading]="!!!this.user"
      [nzAvatar]="{ size: 'large' }"
      [nzParagraph]="{ rows: 1 }"
      [nzActive]="true"
    >
      <nz-card-meta
        *ngIf="user"
        [nzAvatar]="avatarTemplate"
        nzTitle="{{ user.u_name }}"
        nzDescription="{{ user.email }} - {{ user.name.first }} {{ user.name.last }}"
      ></nz-card-meta>
    </nz-skeleton>
  </nz-card>
</div>

<ng-template #avatarTemplate>
  <nz-avatar
    nzIcon="user"
    nzSrc="{{ user.img && backendComunication.at('media/image/'+user.img) }}"
    [nzSize]="'large'"
  ></nz-avatar>
</ng-template>

<ng-template #settings>
  <app-user-settings ></app-user-settings>
</ng-template>

<ng-template #edit>
  <app-user-edit></app-user-edit>
</ng-template>

<ng-template #delete>
  <app-user-delete></app-user-delete>
</ng-template>
