html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.top {
    height: 50px; /* Adjust as needed */
    background-color: #f8f9fa; /* Adjust as needed */
}

.container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.sidebar {
    width: 375px; /* Adjust as needed */
    background-color: #f8f9fa; /* Adjust as needed */
    overflow-y: auto;
}

.main {
    flex: 1;
    overflow-y: auto;
    padding: 0;
}

@media (max-width: 640px) {
  .left {
    width: 100%;
  }
}
