.container {
    justify-content: space-between;
}

.main {
    margin-top: 0px;
    overflow-y: auto;
    margin-left: 300px;
    padding:0;
    
    /* altre proprietà come padding, sfondo, ecc. */
}