body {
	margin: 0;
	padding: 0;
	background-color: #f0f2f5;
	font-family: 'Roboto', sans-serif;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 3fr 2fr;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.header-space {
	margin-top: 71px;
}
