body {
	margin: 0;
}

#app, #content {
	/* align center */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#app { height: 100%; }

#userInfo {
	/* top right */
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.5rem;
	background-color: rgba(255, 255, 255, 0.8);
	margin: 0.5rem;
}

#userInfo > div {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#userInfo > div > * { margin: 0; }

#backHome {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.2rem;
	margin: 0.5rem;
}

.post,
.user {
	/* post */
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
}

.post > div,
.user > div {
	margin-left: 1rem;
	margin-right: 1rem;
}

.post-header,
.user-header {
	/* post header */
	display: flex;
	flex-direction: row;
	align-items: center;
}

.post-header > *,
.user-header > * {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.posts-container,
.users-container {
	/* posts container */
	overflow: auto;
	border: 1px solid #ccc;
	width: 95%;
	height: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.checkbox-container,
.search-container {
	padding-bottom: 1rem;
}

.checkbox-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-container div {
	margin-bottom: 10px;
}
.search-container input, .search-container select{
	box-sizing: border-box;
	width: 100%;
}

.search-container{
	display:'flex';
	flex-direction:'row';
	justify-content:'center';
	align-items:'center';
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form-label {
    margin-bottom: 10px;
}

.form-input,
.form-button {
    width: 100%;
    box-sizing: border-box;
}


.keyword-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.keyword {
    flex-grow: 1;
}

.remove-keyword {
    margin-left: 5px;
}

.input-container {
	display: flex;
	align-items: center;
}

.input-container input {
	flex-grow: 1;
}

.input-container button {
	margin-left: 5px;
}