/* form for the login page */
form.login-card {
  width: 40%;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  form.login-card {
    width: 80%;
    padding: 20px 20px;
  }
}

form.login-card input[type=text],
form.login-card input[type=password] {
  font-size: 16px;
  width: 94%;
  margin-bottom: 10px;
  padding: 10px 3%;
  border: 1px solid #ccc;
  border-radius: 2px;
}

form.login-card input[type=submit] {
  font-size: 16px;
  background-color: #0098cb;
  color: #fff;
  margin-top: 10px;
  padding: 10px 8px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

form.login-card input[type=submit]:hover {
  background-color: #00b8eb;
}

form.login-card input[type=submit]:disabled {
  background-color: #ccc;
  cursor: default;
}

form.login-card .form-title {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  color: #0098cb;
}

form.login-card .form-subtitle {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #0098cb;
}

form.login-card .form-subtitle a {
  color: #0098cb;
}

form.login-card .form-subtitle a:hover {
  color: #00b8eb;
}

form.login-card .form-subtitle a:active {
  color: #00b8eb;
}
