<div class="hero-container">
  <div class="hero">
    <h1>Social Media Manager Dashboard</h1>
    <h2>Gestisci in maniera efficiente il social dei tuoi clienti</h2>
  </div>
</div>

<div class="split-container">
  <div class="qna-container">
    <div>
      <h2>Cos'è la dashboard di Squealer?</h2>
    </div>
    <div>
      <p>Squealer permette ai social media manager di utilizzare un'interfaccia unificata per la gestione dei profili social di più celebrità.</p>
    </div>
  </div>
  <div>
    <!--- TODO: inserire uno screen della dashboard completa come esempio --->
    <!--- TODO: per esagerare inserire uno slider con più immagini della dashboard() --->
    <img src="https://via.placeholder.com/150" alt="placeholder">
  </div>
</div>

<div class="split-container">
  <div>
    <!--- TODO: inserire uno screen di una pagina famosa(tipo con la spunta blu) --->
    <img src="https://via.placeholder.com/150" alt="placeholder">
  </div>
  <div class="qna-container">
    <div>
      <h2>Come diventare uno Squealer SMM?</h2>
    </div>
    <div>
      <p>Il passaggio da account classico di Squealer a Social Media Manager account viene fatto tramite una registrazione. Il tuo account social verrà mantenuto invariato, ma avrai la possibilità di accedere alle funzionalità che ti permettono di amministrare i social dei tuoi clienti. Clicka qui per procedere alla registrazione del tuo profilo.</p> <!--- Aggiungere il link sulla parola "qui" --->
    </div>
  </div>
</div>
