<div class="hero-container">
  <div class="hero">
    <h1>Social Media Manager Dashboard</h1>
    <h2>Gestisci in maniera efficiente il social dei tuoi clienti</h2>
  </div>
</div>

<app-card
  title="Cos'è la dashboard di Squealer?"
  text="Squealer permette ai social media manager di utilizzare un'interfaccia unificata per la gestione dei profili social di più celebrità. Da essa si possono gestire tutte le attività delle celebrità!"
  img="https://via.placeholder.com/150"
  rightImg="true"
></app-card>

<app-card
  title="Come diventare uno Squealer SMM?"
  text="Il passaggio da account classico di Squealer a Social Media Manager account viene fatto tramite una registrazione. Il tuo account social verrà mantenuto invariato, ma avrai la possibilità di accedere alle funzionalità che ti permettono di amministrare i social dei tuoi clienti. Clicka qui per procedere alla registrazione del tuo profilo."
  img="https://via.placeholder.com/150"
  rightImg="false"
></app-card>
