.header {
    background-color: #001529; 
    color: #fff;
    text-align: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding-top: 10px;
}
  
.Toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.Link {
    color: #fff;
    text-decoration: none;
}
  
.Typography {
    font-size: 1.5rem;  
}
  
button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
  
button:hover {
    background-color: #0062cc;
}

.regLog {
    display: flex; 
    gap: 10px; /* adds gap between flex items */
}

.newLog {
    display: flex; 
    align-items: center;
    gap: 10px; /* adds gap between flex items */
}