/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* form for the auth page */
form.auth-card {
  width: 40%;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  form.auth-card {
    width: 60%;
    padding: 20px 30px;
  }
}

@media (max-width: 768px) {
  form.auth-card {
    width: 80%;
    padding: 20px 20px;
  }
}

form.auth-card input[type=text],
form.auth-card input[type=password],
form.auth-card input[type=date] {
  font-size: 16px;
  width: 94%;
  margin-bottom: 10px;
  padding: 10px 3%;
  border: 1px solid #ccc;
  border-radius: 2px;
}

form.auth-card input[type=submit] {
  font-size: 16px;
  background-color: #0098cb;
  color: #fff;
  margin-top: 10px;
  padding: 10px 8px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 40%;
}

form.auth-card input[type=submit]:hover {
  background-color: #00b8eb;
}

form.auth-card input[type=submit]:disabled {
  background-color: #ccc;
  cursor: default;
}

form.auth-card input[type=submit]:disabled:hover {
  background-color: #ccc;
}

form.auth-card .form-title {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  color: #0098cb;
}

div.authSuggestion {
  margin-top: 20px;
  font-size: 14px;
  color: #999;
  text-align: center;
}

div.authSuggestion a {
  color: #666;
}

div.user-card-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 20%;
}

div.user-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  overflow: hidden;
}

div.same-line {
  white-space: unset;
}

@media (max-width: 768px) {
  div.user-card-container {
    margin: 0 5%;
  }
  div.user-card {
    width: 40%;
  }
}

div.user-card h3 {
  margin-top: 0;
}

div.user-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
