<footer class="footer">
  <div class="container">
    <!--- TODO: put some usefull links --->
    <div class="coll">
      <h3>About us</h3>
      <ul>
        <li><a href="https://github.com/AlleNeri">Alessandro Neri</a></li>
        </ul>
    </div>
    <div class="coll">
      <h3>Company</h3>
      <ul>
        <li><a href="https://github.com/AlleNeri">Alessandro Neri</a></li>
        <li><a href="https://github.com/SaadMedhat">Saad Medhat</a></li>
      </ul>
    </div>
    <div class="coll">
      <h3>Comunity</h3>
      <ul>
        <li><a href="https://github.com/AlleNeri">Alessandro Neri</a></li>
        <li><a href="https://github.com/SaadMedhat">Saad Medhat</a></li>
      </ul>
    </div>
    <div class="coll">
      <h3>Developers</h3>
      <ul>
        <li><a href="https://github.com/AlleNeri">Alessandro Neri</a></li>
        <li><a href="https://github.com/SaadMedhat">Saad Medhat</a></li>
      </ul>
    </div>
  </div>
</footer>
