<div class="hero-container">
  <div class="hero">
    <h1 nz-typography>Social Media Manager Dashboard</h1>
    <h2 nz-typography>Gestisci in maniera efficiente il social dei tuoi clienti</h2>
  </div>
</div>

<app-card
  title="Cos'è la dashboard di Squealer?"
  text="Squealer permette ai social media manager di utilizzare un'interfaccia unificata per la gestione dei profili social di più celebrità. Quì si possono gestire tutte le attività delle celebrità!"
  img="assets/profilo.png"
  rightImg="true"
></app-card>

<app-card
  title="Come diventare uno Squealer SMM?"
  text="La crezione di un'account da social media manager è rapida e gratuita. Una volta registrato, avrai accesso a tutte le funzionalità di Squealer per gestire i profili social dei tuoi clienti."
  img="assets/post.png"
  rightImg="false"
></app-card>
