/* MyProfile.css */

.dialog-image {
    width: 100%;
    height: 100%;
  }
  
  .bold-text {
    font-weight: bold;
  }
  
  .margin-left {
    margin-left: 8px;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-row {
    display: flex;
    align-items: center;
  }
  
  .hidden-file-input {
    display: none;
  }

  .dialog-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}