<button
  nz-button
  (click)="this.toggleDrawer()"
  nzType="primary"
>
  Post
</button>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzWidth]="500"
  [nzVisible]="this.isDrawerVisible"
  nzTitle="Posta per conto di {{ this.client.username }}"
  [nzFooter]="drawerFooter"
  (nzOnClose)="this.toggleDrawer()"
>
  <form
    nz-form
    [formGroup]="this.postForm"
    (ngSubmit)="this.post()"
    *nzDrawerContent
    nzLayout="vertical"
  >
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired>Titolo</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              formControlName="title"
              placeHolder="Scrivi il titolo..."
              required
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Testo</nz-form-label>
          <nz-form-control style="width: 100%;">
            <nz-mention
              [nzSuggestions]="this.mentions"
              [nzValueWith]="this.mentionFunction"
            >
              <textarea
                nz-input
                nzMentionTrigger
                formControlName="text"
                [nzAutosize]="{ minRows: 3, maxRows: 4 }"
                placeHolder="Scrivi lo squeal..."
                class="full-width"
              ></textarea>
              <ng-container *nzMentionSuggestion="let mention">
                <nz-avatar
                  nzSize="small"
                  nzIcon="user"
                  nzText="{{ mention.username }}"
                  nzSrc="{{ mention.img && this.backend.at('media/image/'+mention.img) }}"
                ></nz-avatar>
                <span style="margin-left: 8px;">{{ mention.u_name }}</span>
              </ng-container>
            </nz-mention>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <app-upload-image (uploadedImg)="getImg($event)" />
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Posizione</nz-form-label>
          <nz-form-control>
            <div class="position-picker">
              <app-map (positionSelected)="getPos($event)" />
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Keywords</nz-form-label>
          <nz-form-control>
            <nz-input-group nzPrefix="#">
              <nz-tag
                *ngFor="let keyword of this.keywords"
                nzColor="processing"
                nzMode="closeable"
                (nzOnClose)="this.removeKeyword(keyword)"
              >
                #{{ keyword }}
              </nz-tag>
              <input
                type="text"
                nz-input
                placeholder="Scrivi le keywords..."
                (input)="this.getKeywords($event)"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Canale</nz-form-label>
          <nz-form-control style="width: 100%;">
            <nz-select
              formControlName="channel"
              nzPlaceHolder="Seleziona un canale"
              nzAllowClear
            >
              <nz-option
                *ngFor="let channel of channels"
                [nzLabel]="channel.name"
                [nzValue]="channel._id"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <!-- Footer -->
  <ng-template #drawerFooter>
    <nz-space style="float: right;">
      <button
        nz-button
        nzType="default"
        (click)="this.postForm.reset(); this.toggleDrawer();"
        *nzSpaceItem
      >
        Cancella
      </button>
      <button
        nz-button
        nzType="primary"
        (click)="this.post()"
        *nzSpaceItem
        [disabled]="!this.postForm.valid"
      >
        Post
      </button>
    </nz-space>
  </ng-template>
</nz-drawer>
