.full-width {
  width: 100%;
}

.position-picker {
  height: 300px;
  padding-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.negativeChars {
  color: red;
}

.editable-tag {
  background: rgb(255, 255, 255);
  border-style: dashed;
}
